.caregg-ico{display:inline-block;background-repeat:no-repeat}

/* logo */
.caregg-ico-logo{background-image:url(slice/common/caregg-logo.png); width:200px; height:65px; }
.caregg-ico-logo-1{background-image:url(slice/common/caregg-logo1.png); width:50px; height:56px; }

/* menu */
.caregg-ico-menu-1{background-image:url(slice/common/o2o-menu1.png);width: 45px;height: 34px;}
.caregg-ico-menu-2{background-image:url(slice/common/o2o-menu2.png);width: 45px;height: 45px;}
.caregg-ico-menu-3{background-image:url(slice/common/o2o-menu3.png);width: 45px;height: 33px;}
.caregg-ico-menu-4{background-image:url(slice/common/o2o-menu4.png);width: 45px;height: 36px;}
.caregg-ico-menu-5{background-image:url(slice/common/o2o-menu5.png);width: 45px;height: 43px;}
.caregg-ico-menu-6{background-image:url(slice/common/o2o-menu6.png);width: 45px;height: 40px;}
.caregg-ico-menu-7{background-image:url(slice/common/o2o-menu7.png);width: 45px;height: 42px;}
.caregg-ico-menu-8{background-image:url(slice/common/o2o-menu8.png);width: 45px;height: 37px;}
.caregg-ico-menu-9{background-image:url(slice/common/o2o-menu9.png);width: 45px;height: 36px;}




